[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-on-whales = "*"
prompt-toolkit = "*"
pyyaml = "*"
bcrypt = "*"
tomli = "*"
argon2-cffi = "*"
prometheus-client = "*"
influxdb3-python = "*"
python-logging-loki = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
