[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-on-whales = "*"
prompt-toolkit = "*"
pyyaml = "*"
bcrypt = "*"
tomli = "*"

[dev-packages]

[requires]
python_version = "3.11"
